.titulo-cuerpo {
    --padding-bottom: 0px;
    --margin-bottom: 0px;
}

.texto-pregunta {
    font-family: 'Poppins' !important;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    color: #000000;
    padding-left: 20px;
}

.sub-titulo-cuerpo {
    --background: transparent;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --margin-top: 0px;
    .texto {
        font-family: 'Poppins' !important;
        font-size: 20px;
        font-weight: normal;
        line-height: 20px;
        color: #ffffff;
        padding-left: 20px;
    }
}

.sub-titulo-2 {
    text-align: center;
    font-weight: bold;
    color: black;
}

.negrita {
    text-align: center;
    font-weight: bold;
    color: black;
}

.opcion {
    padding: 0px;
    margin: 0px;
    border-radius: 25px;
    --text-align: center;
    .radio-checked {
        --color-checked: #fe8d0c;
    }
}

.texto-estado {
    font-family: 'Poppins' !important;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    font-weight: bold;
}

.center {
    text-align: center;
}

.grid {
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.icono {
    font-size: 44px;
}

.detalle {
    margin-top: -25px;
    --border-radius: 15px;
    padding: 20px;
    .icono {
        font-size: 44px;
    }
    .icono_estado {
        font-size: 44px;
    }
}

.posicion-descr {
    margin-bottom: 20px;
}

.cuerpo-receta {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.sub-tarjeta {
    background-color: #f6f6f6;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
}

.botones-flotantes {
    --background: #872a99;
}

.ion-radio {
    --border-radius: 25px;
    --color: #fe8e0d;
    --color-checked: #fe8e0d;
    --inner-border-radius: 25px
}