<ion-content fullscreen class="ion-no-padding">

    <form [formGroup]="todo" (ngSubmit)="guardar()">

        <ion-list lines="none" class="fondo-mis-bioproductos">

            <ion-fab vertical="top" horizontal="center" slot="fixed">
                <ion-fab-button class="icono-encabezado">
                    <ion-icon class="icon-usuario ion-icon-icono"></ion-icon>
                </ion-fab-button>
            </ion-fab>

            <ion-card class="tarjeta-formulario">

                <ion-card-header>
                    <ion-card-title class="titulo">¡Felicidades has completado el cuestionario!</ion-card-title>
                    <ion-card-subtitle class="sub-titulo-2">
                        Ahora hace falta que te registres y que nos brindes algunos datos necesarios para incorporar hábitos saludables y así alcanzar juntos tu objetivo
                    </ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>

                    <ion-grid fixed>
                        <ion-row>
                            <ion-col size="12" class="grid-card">
                                <ion-label class="titulo-input">Sexo <span>Requerido</span></ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12" class="grid-card">
                                <ion-radio-group value="sexo" formControlName="sexo">
                                    <ion-grid fixed>
                                        <ion-row>
                                            <ion-col size="6" class="grid-card">
                                                <ion-item class="radio-sexo">
                                                    <ion-label class="label-sexo">Masculino</ion-label>
                                                    <ion-radio slot="start" value="1" class="ion-radio"></ion-radio>
                                                </ion-item>
                                            </ion-col>

                                            <ion-col size="6" class="grid-card">
                                                <ion-item class="radio-sexo">
                                                    <ion-label class="label-sexo">Femenino</ion-label>
                                                    <ion-radio slot="start" value="2" class="ion-radio"></ion-radio>
                                                </ion-item>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-radio-group>
                                <small *ngIf="sexoNoValido">
                                    <ion-label color="danger">Seleccione su Sexo.</ion-label>
                                </small>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12" class="grid-card">
                                <ion-label class="titulo-input">Fecha de Nacimiento <span>Requerido</span></ion-label>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12" class="grid-card">
                                <ion-grid fixed>

                                    <ion-row>
                                        <ion-col size="3" class="grid-card">
                                            <ion-label position="stacked">Dia</ion-label>
                                            <ion-datetime mode="ios" [displayFormat]="'DD'" placeholder="DD" formControlName="dia" [class.is-invalid]="diaNoValido" cancelText="Cancelar" doneText="Hecho" (ionChange)="getDia($event)"></ion-datetime>
                                            <small *ngIf="diaNoValido">
                                                <ion-label color="danger">Requerido.</ion-label>
                                            </small>
                                        </ion-col>

                                        <ion-col size="5" class="grid-card">
                                            <ion-label position="stacked">Mes</ion-label>
                                            <ion-datetime mode="ios" display-format="MMMM" placeholder="MM" pickerFormat="MM" formControlName="mes" [class.is-invalid]="mesNoValido" cancelText="Cancelar" doneText="Hecho" (ionChange)="getMes($event)"></ion-datetime>
                                            <small *ngIf="mesNoValido">
                                                <ion-label color="danger">Requerido.</ion-label>
                                            </small>
                                        </ion-col>

                                        <ion-col size="4" class="grid-card">
                                            <ion-label position="stacked">Año</ion-label>
                                            <ion-datetime mode="ios" display-format="YYYY" placeholder="YYYY" pickerFormat="YYYY" min="1900" max="2050" formControlName="anio" [class.is-invalid]="anioNoValido" cancelText="Cancelar" doneText="Hecho" (ionChange)="getAnio($event)"></ion-datetime>
                                            <small *ngIf="anioNoValido">
                                                <ion-label color="danger">Requerido.</ion-label>
                                            </small>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12" class="grid-card">
                                <ion-label class="titulo-input">Nombre <span>Requerido</span></ion-label>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12" class="grid-card">
                                <ion-input type="text" formControlName="nombre" [class.is-invalid]="nombreNoValido"></ion-input>
                                <small *ngIf="nombreNoValido">
                                    <ion-label color="danger">Ingrese su Nombre.</ion-label>
                                </small>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12" class="grid-card">
                                <ion-label class="titulo-input">Apellido <span>Requerido</span></ion-label>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12" class="grid-card">
                                <ion-input type="text" formControlName="apellido" [class.is-invalid]="apellidoNoValido"></ion-input>
                                <small *ngIf="apellidoNoValido">
                                    <ion-label color="danger">Ingrese su Apellido.</ion-label>
                                </small>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12" class="grid-card">
                                <ion-label class="titulo-input">Correo electrónico <span>Requerido</span></ion-label>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12" class="grid-card">
                                <ion-input type="mail" formControlName="email" [class.is-invalid]="emailNoValido"></ion-input>
                                <small *ngIf="emailNoValido">
                                    <ion-label color="danger">Valide su Correo.</ion-label>
                                </small>
                                <small *ngIf="todo.get('email').hasError('email taken')">
                                    <ion-label color="danger"> Correo electrónico ya se encuetra Registrado!</ion-label>
                                </small>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12" class="grid-card">
                                <ion-label class="titulo-input">Contraseña <span>Requerido</span></ion-label>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12" class="grid-card">
                                <ion-input type="password" formControlName="password" placeholder="Ingrese una Contraseña" [class.is-invalid]="passNoValido" class="primary-input"></ion-input>
                                <small *ngIf="passNoValido">
                                    <ion-label color="danger">Ingrese su Contraseña.</ion-label>
                                </small>
                            </ion-col>
                        </ion-row>


                        <ion-row>
                            <ion-col size="12" class="grid-card">
                                <ion-item>
                                    <ion-checkbox slot="start" class="ion-checkbox" formControlName="terminos" [class.is-invalid]="terminosNoValido"></ion-checkbox>
                                    <ion-text> Acepto términos y condiciones de privacidad.</ion-text>

                                </ion-item>
                                <small *ngIf="terminosNoValido">
                                    <ion-label color="danger">Aceptar Terminos.</ion-label>
                                </small>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12" style="text-align: center;">
                                <ion-label class="titulo">Otros datos importantes</ion-label>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12" class="grid-card">
                                <ion-label class="titulo-input">Estatura <span>Requerido</span></ion-label>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="4" class="grid-card">
                                <div style="float: right;">
                                    <ion-fab-button (click)="menosEstatura()" class="ion-fab-button-cantidad-menos" disabled={{menosEstaturaDisabled}}>
                                        <ion-icon class="icon-menos"></ion-icon>
                                    </ion-fab-button>
                                </div>
                            </ion-col>
                            <ion-col size="4" class="grid-card" style="text-align: center;">
                                <ion-input type="number" min="0" [value]=estaturaActual formControlName="estatura" [class.is-invalid]="estaturaNoValido"></ion-input>
                                <small *ngIf="estaturaNoValido">
                                    <ion-label color="danger">Ingrese su Estatura.</ion-label>
                                </small>
                                <p>
                                    <span>Centímetros</span>
                                </p>
                            </ion-col>
                            <ion-col size="4" class="grid-card">
                                <div style="float: left;">
                                    <ion-fab-button (click)="masEstatura()" class="ion-fab-button-cantidad-mas">
                                        <ion-icon class="icon-plus"></ion-icon>
                                    </ion-fab-button>
                                </div>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12" class="grid-card">
                                <ion-label class="titulo-input">Peso actual <span>Requerido</span></ion-label>
                            </ion-col>
                        </ion-row>


                        <ion-row>
                            <ion-col size="4" class="grid-card">
                                <div style="float: right;">
                                    <ion-fab-button (click)="menosPeso()" class="ion-fab-button-cantidad-menos" disabled={{menosPesoDisabled}}>
                                        <ion-icon class="icon-menos"></ion-icon>
                                    </ion-fab-button>
                                </div>

                            </ion-col>
                            <ion-col size="4" class="grid-card" style="text-align: center;">
                                <ion-input type="number" min="0" [value]=pesoActual formControlName="peso_actual" [class.is-invalid]="pesoActualNoValido"></ion-input>
                                <small *ngIf="pesoActualNoValido">
                                    <ion-label color="danger">Ingrese su Peso Actual.</ion-label>
                                </small>
                                <p>
                                    <span>Kilogramos</span>
                                </p>
                            </ion-col>
                            <ion-col size="4" class="grid-card">
                                <div style="float: left;">
                                    <ion-fab-button (click)="masPeso()" class="ion-fab-button-cantidad-mas">
                                        <ion-icon class="icon-plus"></ion-icon>
                                    </ion-fab-button>
                                </div>

                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12" class="grid-card">
                                <ion-label class="titulo-input">Peso deseado <span>Requerido</span></ion-label>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="4" class="grid-card">
                                <div style="float: right;">
                                    <!--<ion-button slot="end" size="large" (click)="menosPesoDeseado()">
                                    <ion-icon name="remove-circle"></ion-icon>
                                </ion-button>-->
                                    <ion-fab-button (click)="menosPesoDeseado()" class="ion-fab-button-cantidad-menos" disabled={{menosPesoDeseadoaDisabled}}>
                                        <ion-icon class="icon-menos"></ion-icon>
                                    </ion-fab-button>
                                </div>

                            </ion-col>
                            <ion-col size="4" class="grid-card" style="text-align: center;">
                                <ion-input type="number" min="0" [value]=pesoDeseado formControlName="peso_deseado" [class.is-invalid]="pesoDeseadoNoValido"></ion-input>
                                <small *ngIf="pesoDeseadoNoValido">
                                    <ion-label color="danger">Ingrese su Peso Deseado.</ion-label>
                                </small>
                                <p>
                                    <span>Kilogramos</span>
                                </p>
                            </ion-col>
                            <ion-col size="4" class="grid-card">
                                <div style="float: left;">
                                    <!--<ion-button slot="start" size="large" (click)="masPesoDeseado()">
                                    <ion-icon name="add-circle"></ion-icon>
                                </ion-button>-->
                                    <ion-fab-button (click)="masPesoDeseado()" class="ion-fab-button-cantidad-mas">
                                        <ion-icon class="icon-plus"></ion-icon>
                                    </ion-fab-button>
                                </div>

                            </ion-col>
                        </ion-row>

                    </ion-grid>

                    <!--<ion-item>
          <ion-label position="stacked">
            Correo electrónico
            <ion-note slot="end">Requerido</ion-note>
          </ion-label>
          <ion-input></ion-input>
        </ion-item>-->

                </ion-card-content>

            </ion-card>

        </ion-list>


    </form>

    <!--<ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button size="small" class="ion-fab-siguiente" [routerLink]="['/login']" routerDirection="forward" data-desc="Aterior">
            <ion-icon class="icon-atras"></ion-icon>
        </ion-fab-button>
        <ion-label class="texto-boton-siguiente">Regresar</ion-label>
    </ion-fab>-->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button size="small" class="ion-fab-atras" (click)="guardar()">
            <ion-icon name="save-outline"></ion-icon>
        </ion-fab-button>
        <ion-label class="texto-boton-atras">Registrar</ion-label>
    </ion-fab>



</ion-content>