/*.card-padding-border {
    padding-top: 5%;
    padding-bottom: 10%;
    border-radius: 30px;
}

.card-titulo {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.card-sub-titulo {
    font-size: 12px;
    text-align: center;
}

.card-input {
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
}

.card-input-dos {
    font-size: 16px;
    font-weight: bold;
}

.radio>button {
    width: 0;
}*/

ion-list {
    background-image: url('/assets/img/fondo_uno.png');
    background-repeat: no-repeat;
    background-size: 100%;
    --offset-bottom: 0px;
    --offset-top: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    padding-top: 50px;
}

ion-fab-button {
    --box-shadow: none;
}

ion-card {
    --background: #ffffff;
    --color: #000000;
    border-radius: 50px;
    padding: 0px;
    padding-bottom: 50px;
}

ion-card-title {
    font-size: 16px;
    text-align: center;
}

ion-card-subtitle {
    font-size: 14px;
    text-align: center;
}

ion-item {
    --inner-padding-bottom: 0px;
    --inner-padding-top: 0px;
    --padding-bottom: 0px;
    --padding-top: 0px;
}

ion-label {
    --color: #3880ff;
}

ion-datetime {
    background: #f6f6f6;
    border: 1px solid #9e9e9e !important;
    border-radius: 25px;
}

ion-input {
    border-radius: 25px;
    border: 1px solid #9e9e9e !important;
    --background: #f6f6f6;
    --color: black;
}

ion-radio {
    --border-radius: 8px;
    --color: #9e9e9e;
    --color-checked: black;
    --inner-border-radius: 2px
}

ion-checkbox {
    --background: #ffffff;
    --background-checked: black;
    --border-color: #9e9e9e;
    --border-color-checked: black;
}