<ion-content class="ion-padding">

    <ion-card class="card-padding-border">
        <ion-item>
            <ion-icon icon="body" slot="start"></ion-icon>
            <ion-icon name="close-circle" slot="end" (click)="cerrar()"></ion-icon>
        </ion-item>

        <ion-card-content>
            <!-- Item Dividers in a List -->
            <section>
                <ion-list>
                    <ion-item-divider>
                        <ion-label>
                            <h2>{{ datos.descripcion }}</h2>
                        </ion-label>
                    </ion-item-divider>

                    <ion-item>
                        <ion-text>{{ datos.respuesta }}</ion-text>
                    </ion-item>

                    <ion-item-divider>
                        <ion-label>
                            <h2>Tus Resultados:</h2>
                        </ion-label>
                    </ion-item-divider>

                    <ion-item *ngFor="let item of datos.resultado; ; let i = index ">
                        <ion-text>{{ item }}</ion-text>
                    </ion-item>

                </ion-list>
            </section>

            <section>
                <ion-button expand="block" (click)="cerrar()" color="dark">volver</ion-button>
            </section>

        </ion-card-content>
    </ion-card>


</ion-content>