<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-avatar class="ion-padding">
                <!--<img src="/assets/img/logo-header.png" />-->
                <ion-img src="/assets/img/logo-header.png"></ion-img>
            </ion-avatar>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button>
                <div>
                    <ion-icon slot="start" src="/assets/icon/Notificaciones.svg"></ion-icon><br>
                    <ion-label>
                        <small>Notificaciones</small>
                    </ion-label>
                </div>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <div>
                    <ion-icon slot="start" src="/assets/icon/Buscar.svg"></ion-icon><br>
                    <ion-label>
                        <small>Buscar</small>
                    </ion-label>
                </div>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <div>
                    <ion-icon slot="start" src="/assets/icon/menu.svg"></ion-icon><br>
                    <ion-label>
                        <small>Menu</small>
                    </ion-label>
                </div>
            </ion-button>
        </ion-buttons>

        <!--<ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon slot="icon-only" name="search-outline"></ion-icon>
            </ion-button>
            <ion-menu-button menu="mi-menu"></ion-menu-button>
            <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
        </ion-buttons>-->

    </ion-toolbar>
</ion-header>