<app-header></app-header>
<app-menu-inicio></app-menu-inicio>
<ion-content fullscreen class="ion-no-padding">

    <ion-list lines="none" class="menu-items">

        <ion-item class="titulo-cuerpo">
            <ion-label class="texto">Inicio</ion-label>
        </ion-item>

        <ion-grid class="grupo-icono">
            <ion-row>
                <ion-col class="ion-text-center" size="6" size-lg="4" size-md="3" size-sm="6" *ngFor="let item of menu; let i=index">
                    <app-boton-menu [texto]=item.texto [fondo]=item.fondo [icono]=item.icono [pagina]=item.pagina></app-boton-menu>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-list>
</ion-content>
<app-tab class="menu"></app-tab>
