.menu-items {
    padding-top: 80px;
    padding-bottom: 50px;
    margin-bottom: 0px;
}

.titulo-cuerpo {
    .texto {
        color: #000000;
    }
}

.grupo-icono {
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    margin-bottom: 0px;
}