.menu {
    margin-top: 70px;
}

.item-menu {
    width: 175px;
    height: 175px;
    padding: 0px;
    margin: 0px;
    --border-radius: 25px;
    --background: #00e1e6;
    --box-shadow: 0px 0px;
}

.icon-posicion {
    position: absolute;
    padding: 0px 0px 75px 95px;
    font-size: 100px;
}

.texto-posicion {
    position: absolute;
    font-family: 'Poppins' !important;
    font-size: 22px;
    line-height: 20px;
    font-weight: bold;
    text-transform: capitalize;
    padding-top: 110px;
    width: 140px;
    text-align: left;
    white-space: normal !important;
}

.ion-icon {
    background: #3880ff;
    color: #ffffff;
    font-size: 24px;
    transform: rotate(90deg);
}

.ion-button {
    --background: #3880ff;
    --background-activated: #3880ff;
    --background-activated-opacity: 1;
    --background-focused: #3880ff;
    --background-focused-opacity: 1;
    --background-hover: #3880ff;
    --background-hover-opacity: 1;
    --border-color: #3880ff;
    --border-radius: 8px;
    --border-style: solid;
    --border-width: 8px;
    --box-shadow: 10px 10px;
    --color: #ffffff;
    --color-activated: #ffffff;
    --color-focused: #ffffff;
    --color-hover: #ffffff;
    --opacity: 1;
    --padding-bottom: 4px;
    --padding-end: 4px;
    --padding-start: 4px;
    --padding-top: 4px;
    --ripple-color: #1e1e1e;
    --transition: background-color 15ms linear;
}