<app-header></app-header>

<ion-content>

    <ion-list class="menu">
        <ion-grid fixed>
            <ion-row>
                <ion-col size="6">

          <app-boton-menu texto = 'Mis Datos' fondo = 'mis-datos' icono= 'icon-mi_guia_nutricional'></app-boton-menu>

                </ion-col>
                <ion-col size="6">

          <app-boton-menu texto = 'Mi Diario Nutricional' fondo = 'mi-diario-nutricional' icono= 'icon-mi_diario_nutricional'></app-boton-menu>

                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6">

          <app-boton-menu texto = 'Mi Guía Nutricional' fondo = 'mi-guia-nutricional' icono= 'icon-mi_guia_nutricional'></app-boton-menu>

        </ion-col>
        <ion-col size="6">

          <app-boton-menu texto = 'Mi Dieta' fondo = 'mi-dieta' icono= 'icon-mi_dieta'></app-boton-menu>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">

          <app-boton-menu texto = 'Mis Estadísticas' fondo = 'mis-estadisticas' icono= 'icon-mi_guia_nutricional'></app-boton-menu>

        </ion-col>
        <ion-col size="6">

          <app-boton-menu texto = 'Mis Bioproductos' fondo = 'mis-bioproductos' icono= 'icon-mi_guia_nutricional'></app-boton-menu>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">

          <app-boton-menu texto = 'Mis Controles' fondo = 'mis-controles' icono= 'icon-mi_guia_nutricional'></app-boton-menu>

        </ion-col>
        <ion-col size="6">

          <app-boton-menu texto = 'Mis Promociones' fondo = 'mis-promociones' icono= 'icon-mi_guia_nutricional'></app-boton-menu>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">

          <app-boton-menu texto = 'Mis Logros' fondo = 'mis-logros' icono= 'icon-mi_guia_nutricional'></app-boton-menu>

                </ion-col>
                <ion-col size="6">

          <app-boton-menu texto = 'Mis Eventos' fondo = 'mis-eventos' icono= 'icon-mi_guia_nutricional'></app-boton-menu>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">

          <app-boton-menu texto = 'Mi Lista de Compras' fondo = 'mi-lista-compras' icono= 'icon-mi_guia_nutricional'></app-boton-menu>

        </ion-col>
        <ion-col size="6">

          <app-boton-menu texto = 'Mis Favoritos' fondo = 'mis-favoritos' icono= 'icon-mi_guia_nutricional'></app-boton-menu>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">

          <app-boton-menu texto = 'Aliados Inbionova' fondo = 'aliados-inbionova' icono= 'icon-mi_guia_nutricional'></app-boton-menu>

        </ion-col>
        <ion-col size="6">

          <app-boton-menu texto = 'Recetas Inbionova' fondo = 'recetas-inbionova' icono= 'icon-mi_guia_nutricional'></app-boton-menu>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">

          <app-boton-menu texto = 'Blog Inbionova' fondo = 'blog-inbionova' icono= 'icon-mi_guia_nutricional'></app-boton-menu>

        </ion-col>
        <ion-col size="6">

                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-list>

</ion-content>
<app-tab></app-tab>