<app-header></app-header>
<app-menu-inicio></app-menu-inicio>

  <ion-content [fullscreen]="true">

  <ion-list lines="none" class="fondo-mis-estadisticas">
    <ion-item class="titulo-cuerpo">
      <ion-label class="texto">Mis estadisticas</ion-label>
    </ion-item>

    <div class="ion-padding">
      <ion-card>
        <ion-card-header>
          Bar Chart
        </ion-card-header>
        <ion-card-content>
          <canvas #barCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
      </ion-card>
  
      <ion-card>
        <ion-card-header>
          Doughnut Chart
        </ion-card-header>
        <ion-card-content>
          <canvas #doughnutCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
      </ion-card>
   
      <ion-card>
        <ion-card-header>
          Line Chart
        </ion-card-header>
        <ion-card-content>
          <canvas #lineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>
  </ion-content>

<app-tab class="menu"></app-tab>