.ion-fab-atras {
    --background: #872a99;
    --border-radius: 50px;
    --border-style: solid;
    --border-width: 0.5px;
    --box-shadow: none;
}

.ion-fab-adelante {
    --background: #872a99;
    --border-radius: 50px;
    --border-style: solid;
    --border-width: 0.5px;
    --box-shadow: none;
}

.boton {
    --border-radius: 50px;
    font-weight: bold;
    text-transform: capitalize;
    --background: #872a99;
}

.centrado {
    align-items: center;
}

.borde {
    border: none;
}

.tarjeta-grafico {
    box-shadow: none;
}