.fuente {
    font-size: 15px;
    color: black;
    font-family: 'Poppins' !important;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 50%;
    --webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: normal !important;
    padding-right: 20px;
}

.tarjeta-receta {
    --background: #ffffff;
    --color: #000000;
    --border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    .contenido {
        padding-bottom: 0px;
        .imagen {
            border-radius: 50px !important;
            overflow: hidden;
            padding-bottom: 0px;
        }
    }
}

.titulo {
    font-family: 'Poppins' !important;
    font-size: 24px;
    font-style: bold;
    line-height: 24px;
    color: black;
    font-weight: bold;
    text-align: left !important;
}

.sub-titulo-2-1 {
    font-family: 'Poppins' !important;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    text-align: left !important;
    color: black;
}

.boton {
    --border-radius: 50px;
    font-weight: bold;
    //text-transform: capitalize;
    --background: #872a99;
}