.item-menu{
    width: 175px;
    height: 175px;
    --border-radius: 25px;
    --box-shadow: 0px 0px;
}

.icon-posicion{
    position: relative;
    padding: 0px 0px 80px 10px;
    font-size: 48px;
}

.texto-posicion{
    position: relative;
    padding: 110px 22px 0px 22px;
    font-family: 'Roboto' !important;
    font-size: 22px;
    line-height: 22px;
    font-style: bold;
    text-transform: capitalize;
    width: 60px;
    margin-left: 0px;
}

.mis-datos{
    --background: #00e1e6;
}

.mi-diario-nutricional{
    --background: #1853f5;
}

.mi-guia-nutricional {
    --background: #49dd04;
}

.mi-dieta {
    --background: #ff7b00;
}

.mis-estadisticas {
    --background: #ff0000;
}

.mis-bioproductos {
    --background: #ea00ff;
}

.mis-controles {
    --background: #3700ff;
}

.mis-promociones {
    --background: #e4e706c9;
}

.mis-logros {
    --background: #fa00a7c9;
}

.mis-eventos {
    --background: #7f138d;
}

.mi-lista-compras {
    --background: #ff0000;
}

.mis-favoritos {
    --background: #00e1e6;
}

.aliados-inbionova {
    --background: #ea00ff;
}

.recetas-inbionova {
    --background: #88ff00;
}

.blog-inbionova {
    --background: #589e09c5;
}