.fondo {
    background-color: #e5e5e5 !important;
    height: 100%;
}

.titulo-evento {
    --background: transparent;
    .icono {
        font-size: 24px;
        position: relative;
        display: inline;
        padding: 5px;
        margin: 5px;
        width: 40px;
        height: 40px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 0.5px solid rgb(0, 0, 0);
        color: #000;
        background: transparent;
        text-align: center;
    }
    .texto {
        position: relative;
        font-family: 'Poppins' !important;
        font-size: 18px;
        line-height: 14px;
        font-weight: bold;
        padding: 10px;
    }
}

.botones-flotantes {
    --background: #872a99;
}

.slide {
    height: 200px;
}

.grupo {
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

.item-opcion {
    --background: #f6f6f6 !important;
    border-radius: 25px;
    padding: 0px;
    margin: 0px;
}

.tarjeta {
    background: transparent;
    border-radius: 25px;
    width: 150px;
    height: 150px;
    .texto {
        position: absolute;
        font-family: 'Poppins' !important;
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        width: 140px;
        white-space: normal !important;
        text-align: left;
        padding-top: 50px;
    }
    .icono {
        position: absolute;
        padding: 0px 0px 0px 40px;
        font-size: 50px;
    }
}

ion-datetime {
    background: #cfcfcf;
    border: #606060 !important;
    border-radius: 10px;
    font-size: 14px;
}

.guardar {
    --background: #872a99;
    align-items: center;
    justify-content: center;
    margin: 0px;
    --z-index: 1;
    --border-radius: 25px;
    text-transform: capitalize;
    .texto {
        padding-left: 25px;
        padding-right: 25px;
        font-family: 'Poppins' !important;
        font-size: 12px;
    }
}

.barra {
    background-color: #e5e5e5;
    border: none;
}

.texto-2 {
    position: relative;
    font-family: 'Poppins' !important;
    font-size: 15px;
    line-height: 14px;
    font-weight: normal;
    padding: 10px;
}


.check-box {
    position: relative;
    font-family: 'Poppins' !important;
    font-size: 15px;
    line-height: 14px;
    font-weight: normal;
    padding: 10px;
    text-align: center;
    padding-top: 50px;
}
 .posicion {
    margin-left: 100px;
 }