ion-slides {
    height: 100%;
    --bullet-background-active: #9d259d;
}

.slide-full {
    height: 100% !important;
}

.btn-empezar {
    --background: #9d259d;
    --border-color: #9d259d;
    --border-radius: 50px;
    --border-style: solid;
    --border-width: 0.5px;
    margin-top: 20px;
    --box-shadow: none;
    font-weight: bold;
    text-transform: capitalize;
}

.button {
    position: relative;
    top: 20px;
}

ion-card {
    overflow: unset !important;
    box-shadow: none !important;
}

.slide-image {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -50px;
}

ion-card-header {
    position: relative;
    top: -50px;
}

ion-card-content {
    position: relative;
    top: -50px;
}

.avatar {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
    line-height: 40px;
}

.imagen {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -60px;
    width: 300px;
    height: 300px;
}

.class-tittle {
    position: relative;
    top: 80px;
}

.imagen-final {
    padding-top: 70%;
    width: 400px;
    height: 400px;
}

.imagen-app {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    width: 200px;
    height: 200px;
}