   
ion-slides {
    padding: 0px;
    height: 100%;
}

ion-grid {
    height: 100%;
}

.ion-grid-ion-row {
    height: 100%;
}

.titulo{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.sub-titulo{
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: black;
}

.ion-list-checkbox {
    background-image: url('/assets/img/fondo_mis_promociones.png');
    background-repeat: no-repeat;
    background-size: 100%;
    --offset-bottom: 0px;
    --offset-top: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    padding-top: 80px;
    height: 100%;
    background-color: #f7f7f7;
}

.ion-list-radio {
    background-image: url('/assets/img/fondo_mis_bioproductos.png');
    background-repeat: no-repeat;
    background-size: 100%;
    --offset-bottom: 0px;
    --offset-top: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    padding-top: 80px;
    height: 100%;
    background-color: #f7f7f7;
}

/*ion-fab-button {
    --background: #ffffff;
    --border-color: #000000;
    --border-radius: 50px;
    --border-style: solid;
    --border-width: 0.5px;
    margin-top: 20px;
    --box-shadow: none;
}*/

.ion-button {
    --background: #b60aade3;
    --border-radius: 50px;
    --border-style: solid;
    --border-width: 0.5px;
    margin-top: 20px;
    --box-shadow: none;
}

.ion-fab-atras {
    --background: #b60aade3;
    --border-radius: 50px;
    --border-style: solid;
    --border-width: 0.5px;
    margin-top: 20px;
    --box-shadow: none;
}

.ion-fab-atras-c {
    --background: #ece90de3;
    --border-radius: 50px;
    --border-style: solid;
    --border-width: 0.5px;
    margin-top: 20px;
    --box-shadow: none;
}

.ion-fab-siguiente {
    --background: #b60aade3;
    --border-radius: 50px;
    --border-style: solid;
    --border-width: 0.5px;
    margin-top: 20px;
    --box-shadow: none;
}

.ion-fab-siguiente-c {
    --background: #ece90de3;
    --border-radius: 50px;
    --border-style: solid;
    --border-width: 0.5px;
    margin-top: 20px;
    --box-shadow: none;
}

.icono-encabezado{
    --background: #ffffff;
    --border-color: #000000;
    --border-radius: 50px;
    --border-style: solid;
    --border-width: 0.5px;
    margin-top: 40px;
    --box-shadow: none;
    width: 80px !important;
    height: 80px !important;
}

.ion-card-pregunta {
    --background: #ffffff;
    --color: #000000;
    border-radius: 50px;
    padding-top: 50px;
}

.ion-card-respuesta {
    --background: #ffffff;
    --color: #000000;
    border-radius: 50px;
}