@font-face {
  font-family: 'inbioapp';
  src:  url('/assets/font/inbioapp/inbioapp.eot?46a7vy');
  src:  url('/assets/font/inbioapp/inbioapp.eot?46a7vy#iefix') format('embedded-opentype'),
    url('/assets/font/inbioapp/inbioapp.ttf?46a7vy') format('truetype'),
    url('/assets/font/inbioapp/inbioapp.woff?46a7vy') format('woff'),
    url('/assets/font/inbioapp/inbioapp.svg?46a7vy#inbioapp') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'inbioapp' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accidente:before {
  content: "\e900";
}
.icon-actividad_fisica_2:before {
  content: "\e901";
}
.icon-actividad_fisica1:before {
  content: "\e902";
}
.icon-adelante:before {
  content: "\e903";
}
.icon-aerobicos:before {
  content: "\e904";
}
.icon-agua:before {
  content: "\e905";
}
.icon-agua_2:before {
  content: "\e906";
}
.icon-alcohol:before {
  content: "\e907";
}
.icon-aliados_inbionova .path1:before {
  content: "\e908";
  color: rgb(67, 11, 86);
}
.icon-aliados_inbionova .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-alimento_alergia:before {
  content: "\e90a";
}
.icon-antojos:before {
  content: "\e90b";
}
.icon-atras:before {
  content: "\e90c";
}
.icon-base_17 .path1:before {
  content: "\e90d";
  color: rgb(0, 184, 52);
}
.icon-base_17 .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-base_18 .path1:before {
  content: "\e90f";
  color: rgb(255, 142, 0);
}
.icon-base_18 .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-base_18 .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-base_19 .path1:before {
  content: "\e912";
  color: rgb(255, 23, 30);
}
.icon-base_19 .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-base_19 .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-base_19 .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-blando:before {
  content: "\e916";
}
.icon-blog_inbionova .path1:before {
  content: "\e917";
  color: rgb(85, 96, 50);
}
.icon-blog_inbionova .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-buscar:before {
  content: "\e919";
}
.icon-caminar:before {
  content: "\e91a";
}
.icon-ciclismo:before {
  content: "\e91b";
}
.icon-coach:before {
  content: "\e91c";
}
.icon-como_duermes:before {
  content: "\e91d";
}
.icon-correr:before {
  content: "\e91e";
}
.icon-deporte_equipo:before {
  content: "\e91f";
}
.icon-deposiciones:before {
  content: "\e920";
}
.icon-dieta:before {
  content: "\e921";
}
.icon-dolor_Cabeza:before {
  content: "\e922";
}
.icon-duro:before {
  content: "\e923";
}
.icon-duro_bolitas:before {
  content: "\e924";
}
.icon-embarazo:before {
  content: "\e925";
}
.icon-enfermedades:before {
  content: "\e926";
}
.icon-escalera:before {
  content: "\e927";
}
.icon-feliz:before {
  content: "\e928";
}
.icon-fumar:before {
  content: "\e929";
}
.icon-hospitalizacion:before {
  content: "\e92a";
}
.icon-inicio:before {
  content: "\e92b";
}
.icon-intervalos:before {
  content: "\e92c";
}
.icon-jardineria:before {
  content: "\e92d";
}
.icon-liquido:before {
  content: "\e92e";
}
.icon-mejorar_sueno_02:before {
  content: "\e92f";
}
.icon-menos:before {
  content: "\e930";
}
.icon-menu:before {
  content: "\e931";
}
.icon-mi_diario_nutricional:before {
  content: "\e932";
}
.icon-mi_dieta:before {
  content: "\e933";
}
.icon-mi_guia_nutricional:before {
  content: "\e934";
}
.icon-mi_lista_de_compras .path1:before {
  content: "\e935";
  color: rgb(255, 18, 2);
}
.icon-mi_lista_de_compras .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mi_lista_de_compras .path3:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mi_lista_de_compras .path4:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_bioproductos .path1:before {
  content: "\e939";
  color: rgb(82, 3, 95);
}
.icon-mis_bioproductos .path2:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_controles .path1:before {
  content: "\e93b";
  color: rgb(6, 5, 141);
}
.icon-mis_controles .path2:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_controles .path3:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_controles .path4:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_controles .path5:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_controles .path6:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_controles .path7:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_controles .path8:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_datos .path1:before {
  content: "\e943";
  color: rgb(1, 199, 208);
}
.icon-mis_datos .path2:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_datos .path3:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_diarios_nutricionales .path1:before {
  content: "\e946";
  color: rgb(19, 49, 253);
}
.icon-mis_diarios_nutricionales .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_diarios_nutricionales .path3:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_dietas .path1:before {
  content: "\e949";
  color: rgb(255, 77, 5);
}
.icon-mis_dietas .path2:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_estadisticas .path1:before {
  content: "\e94b";
  color: rgb(167, 5, 10);
}
.icon-mis_estadisticas .path2:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_estadisticas .path3:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_estadisticas .path4:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_eventos .path1:before {
  content: "\e94f";
  color: rgb(45, 1, 54);
}
.icon-mis_eventos .path2:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_favoritos .path1:before {
  content: "\e951";
  color: rgb(1, 155, 169);
}
.icon-mis_favoritos .path2:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_guias_nutricionales .path1:before {
  content: "\e953";
  color: rgb(0, 133, 11);
}
.icon-mis_guias_nutricionales .path2:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_guias_nutricionales .path3:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_guias_nutricionales .path4:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_logros .path1:before {
  content: "\e957";
  color: rgb(255, 22, 105);
}
.icon-mis_logros .path2:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_promociones .path1:before {
  content: "\e959";
  color: rgb(228, 213, 23);
}
.icon-mis_promociones .path2:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_promociones .path3:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_promociones .path4:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mis_promociones .path5:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-nadar:before {
  content: "\e95e";
}
.icon-neutro:before {
  content: "\e95f";
}
.icon-notificaciones:before {
  content: "\e960";
}
.icon-patinaje:before {
  content: "\e961";
}
.icon-pesa:before {
  content: "\e962";
}
.icon-pesas:before {
  content: "\e963";
}
.icon-plus:before {
  content: "\e964";
}
.icon-recetas_inbionova .path1:before {
  content: "\e965";
  color: rgb(144, 168, 4);
}
.icon-recetas_inbionova .path2:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-recetas_inbionova .path3:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-reloj:before {
  content: "\e968";
}
.icon-senderismo:before {
  content: "\e969";
}
.icon-sin_forma:before {
  content: "\e96a";
}
.icon-stress:before {
  content: "\e96b";
}
.icon-suplementos:before {
  content: "\e96c";
}
.icon-telefono:before {
  content: "\e96d";
}
.icon-tipos_Antojo:before {
  content: "\e96e";
}
.icon-triste:before {
  content: "\e96f";
}
.icon-usuario:before {
  content: "\e970";
}
.icon-viaje:before {
  content: "\e971";
}
.icon-whatsap:before {
  content: "\e972";
}
.icon-yoga:before {
  content: "\e973";
}
