@font-face {
    font-family: 'Poppins'; //This is what we are going to call
    src: url('/assets/font/Poppins/POPPINS-REGULAR.TTF');
}

@font-face {
    font-family: 'Roboto'; //This is what we are going to call  
    src: url('/assets/font/Roboto/ROBOTO-REGULAR.TTF');
}

@font-face {
    font-family: 'inbioapp';
    src: url('/assets/font/inbioapp/inbioapp.eot?ys0p05');
    src: url('/assets/font/inbioapp/inbioapp.eot?ys0p05#iefix') format('embedded-opentype'), url('/assets/font/inbioapp/inbioapp.ttf?ys0p05') format('truetype'), url('/assets/font/inbioapp/inbioapp.woff?ys0p05') format('woff'), url('/assets/font/inbioapp/inbioapp.svg?ys0p05#inbioapp') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'inbioapp' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dolor_cabeza:before {
    content: "\e918";
}

.icon-accidente:before {
    content: "\e900";
}

.icon-actividad_fisica1:before {
    content: "\e901";
}

.icon-adelante:before {
    content: "\e902";
}

.icon-aerobicos:before {
    content: "\e903";
}

.icon-agua:before {
    content: "\e904";
}

.icon-agua_2:before {
    content: "\e905";
}

.icon-alcohol:before {
    content: "\e906";
}

.icon-aliados_inbionova .path1:before {
    content: "\e907";
    color: rgb(67, 11, 86);
}

.icon-aliados_inbionova .path2:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-alimento_alergia:before {
    content: "\e909";
}

.icon-antojos:before {
    content: "\e90a";
}

.icon-atras:before {
    content: "\e90b";
}

.icon-blando:before {
    content: "\e90c";
}

.icon-blog_inbionova .path1:before {
    content: "\e90d";
    color: rgb(85, 96, 50);
}

.icon-blog_inbionova .path2:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-buscar:before {
    content: "\e90f";
}

.icon-caminar:before {
    content: "\e910";
}

.icon-ciclismo:before {
    content: "\e911";
}

.icon-coach:before {
    content: "\e912";
}

.icon-como_duermes:before {
    content: "\e913";
}

.icon-correr:before {
    content: "\e914";
}

.icon-deporte_equipo:before {
    content: "\e915";
}

.icon-deposiciones:before {
    content: "\e916";
}

.icon-dieta:before {
    content: "\e917";
}

.icon-duro:before {
    content: "\e919";
}

.icon-duro_bolitas:before {
    content: "\e91a";
}

.icon-embarazo:before {
    content: "\e91b";
}

.icon-enfermedades:before {
    content: "\e91c";
}

.icon-escalera:before {
    content: "\e91d";
}

.icon-feliz:before {
    content: "\e91e";
}

.icon-fumar:before {
    content: "\e91f";
}

.icon-hospitalizacion:before {
    content: "\e920";
}

.icon-inicio:before {
    content: "\e921";
}

.icon-intervalos:before {
    content: "\e922";
}

.icon-jardineria:before {
    content: "\e923";
}

.icon-liquido:before {
    content: "\e924";
}

.icon-menos:before {
    content: "\e925";
}

.icon-menu:before {
    content: "\e926";
}

.icon-mi_diario_nutricional:before {
    content: "\e927";
}

.icon-mi_dieta:before {
    content: "\e928";
}

.icon-mi_guia_nutricional:before {
    content: "\e929";
}

.icon-mi_lista_de_compras .path1:before {
    content: "\e92a";
    color: rgb(173, 27, 16);
}

.icon-mi_lista_de_compras .path2:before {
    content: "\e92b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mi_lista_de_compras .path3:before {
    content: "\e92c";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mi_lista_de_compras .path4:before {
    content: "\e92d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_bioproductos .path1:before {
    content: "\e92e";
    color: rgb(82, 3, 95);
}

.icon-mis_bioproductos .path2:before {
    content: "\e92f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_controles .path1:before {
    content: "\e930";
    color: rgb(6, 5, 141);
}

.icon-mis_controles .path2:before {
    content: "\e931";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_controles .path3:before {
    content: "\e932";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_controles .path4:before {
    content: "\e933";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_controles .path5:before {
    content: "\e934";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_controles .path6:before {
    content: "\e935";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_controles .path7:before {
    content: "\e936";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_controles .path8:before {
    content: "\e937";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_datos .path1:before {
    content: "\e938";
    color: rgb(1, 199, 208);
}

.icon-mis_datos .path2:before {
    content: "\e939";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_datos .path3:before {
    content: "\e93a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_diarios_nutricionales .path1:before {
    content: "\e93b";
    color: rgb(19, 49, 253);
}

.icon-mis_diarios_nutricionales .path2:before {
    content: "\e93c";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_diarios_nutricionales .path3:before {
    content: "\e93d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_dietas .path1:before {
    content: "\e93e";
    color: rgb(255, 77, 5);
}

.icon-mis_dietas .path2:before {
    content: "\e93f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_estadisticas .path1:before {
    content: "\e940";
    color: rgb(167, 5, 10);
}

.icon-mis_estadisticas .path2:before {
    content: "\e941";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_estadisticas .path3:before {
    content: "\e942";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_estadisticas .path4:before {
    content: "\e943";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_eventos .path1:before {
    content: "\e944";
    color: rgb(45, 1, 54);
}

.icon-mis_eventos .path2:before {
    content: "\e945";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_favoritos .path1:before {
    content: "\e946";
    color: rgb(1, 155, 169);
}

.icon-mis_favoritos .path2:before {
    content: "\e947";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_guias_nutricionales .path1:before {
    content: "\e948";
    color: rgb(0, 133, 11);
}

.icon-mis_guias_nutricionales .path2:before {
    content: "\e949";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_guias_nutricionales .path3:before {
    content: "\e94a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_guias_nutricionales .path4:before {
    content: "\e94b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_logros .path1:before {
    content: "\e94c";
    color: rgb(255, 22, 105);
}

.icon-mis_logros .path2:before {
    content: "\e94d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_promociones .path1:before {
    content: "\e94e";
    color: rgb(228, 213, 23);
}

.icon-mis_promociones .path2:before {
    content: "\e94f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_promociones .path3:before {
    content: "\e950";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_promociones .path4:before {
    content: "\e951";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mis_promociones .path5:before {
    content: "\e952";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-nadar:before {
    content: "\e953";
}

.icon-neutro:before {
    content: "\e954";
}

.icon-notificaciones:before {
    content: "\e955";
}

.icon-patinaje:before {
    content: "\e956";
}

.icon-pesas:before {
    content: "\e957";
}

.icon-plus:before {
    content: "\e958";
}

.icon-recetas_inbionova .path1:before {
    content: "\e959";
    color: rgb(144, 168, 4);
}

.icon-recetas_inbionova .path2:before {
    content: "\e95a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-recetas_inbionova .path3:before {
    content: "\e95b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-reloj:before {
    content: "\e95c";
}

.icon-senderismo:before {
    content: "\e95d";
}

.icon-sin-forma:before {
    content: "\e92e";
}

.icon-stress:before {
    content: "\e95f";
}

.icon-suplementos:before {
    content: "\e960";
}

.icon-telefono:before {
    content: "\e961";
}

.icon-tipos_Antojo:before {
    content: "\e962";
}

.icon-usuario:before {
    content: "\e963";
}

.icon-viaje:before {
    content: "\e964";
}

.icon-whatsap:before {
    content: "\e965";
}

.icon-yoga:before {
    content: "\e966";
}

.icono {
    --background: #872a99;
}

.icono-pro {
    --background: #ffffff;
}

.titulo2 {
    font-family: 'Poppins' !important;
    font-size: 24px;
    font-style: bold;
    line-height: 24px;
    text-align: left !important;
    font-weight: bold;
}

.titulo {
    font-family: 'Poppins' !important;
    font-size: 24px;
    font-style: bold;
    line-height: 24px;
}

.sub-titulo-1 {
    font-family: 'Poppins' !important;
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
    padding-bottom: 10px;
}

.sub-titulo-2 {
    font-family: 'Poppins' !important;
    font-size: 16px;
    font-style: normal;
    line-height: 16px;
}

.sub-titulo-2-1 {
    font-family: 'Poppins' !important;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    text-align: left !important;
}

.body {
    font-family: 'Roboto' !important;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
}

.body-2 {
    font-family: 'Roboto' !important;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
}

.texto-boton-1 {
    font-family: 'Roboto' !important;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
}

.texto-boton-2 {
    font-family: 'Roboto' !important;
    font-size: 12px;
    font-style: normal;
    line-height: 24px;
}

.enlace {
    font-family: 'Roboto' !important;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
}

.fondo-inactivo {
    background-image: url('/assets/img/fondo_inactivo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
}

.fondo-aliados {
    background-image: url('/assets/img/fondo_aliados.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-blog {
    background-image: url('/assets/img/fondo_blog.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mi-diario-nutricional {
    background-image: url('/assets/img/fondo_mi_diario_nutricional.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mi-dieta {
    background-image: url('/assets/img/fondo_mi_dieta.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mi-guia-nutricional {
    background-image: url('/assets/img/fondo_mi_guia_nutricional.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mi-lista-de-compras {
    background-image: url('/assets/img/fondo_mi_lista_de_compras.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mis-bioproductos {
    background-image: url('/assets/img/fondo_mis_bioproductos.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mis-controles {
    background-image: url('/assets/img/fondo_mis_controles.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mis-datos {
    background-image: url('/assets/img/fondo_mis_datos.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
    min-height: 780px;
}

.fondo-mis-estadisticas {
    background-image: url('/assets/img/fondo_mis_estadisticas.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-productos-detalle {
    background-image: url('/assets/img/bellasen.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mis-eventos {
    background-image: url('/assets/img/fondo_mis_eventos.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mis-favoritos {
    background-image: url('/assets/img/fondo_mis_favoritos.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mis-logros {
    background-image: url('/assets/img/fondo_mis_logros.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mis-promociones {
    background-image: url('/assets/img/fondo_mis_promociones.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-recetas {
    background-image: url('/assets/img/fondo_recetas.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.tarjeta-formulario {
    --background: #ffffff;
    --color: #000000;
    --border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 0px;
}

.tarjeta-formulario-logo {
    --background: #ffffff;
    --border-color: #000000;
    --border-radius: 50px;
    //--border-style: solid;
    //--border-width: 0.5px;
    padding-left: 0%;
    margin-top: 55px;
    //--box-shadow: none;
    width: 50px;
    height: 50px;
}

.titulo-cuerpo {
    --background: transparent;
    --padding-top: 20px;
    --padding-bottom: 20px;
    .texto {
        font-family: 'Poppins' !important;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
        color: #ffffff;
        padding-left: 20px;
    }
}

.cuerpo-receta {
    --background: #ffffff;
    --color: #000000;
    --border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 60px;
    margin-bottom: 0px;
    .filtro {
        padding-left: 30px;
        padding-right: 30px;
        --background: #f6f6f6;
        //--border-color: #000000;
        --border-radius: 50px;
        --border-width: 0.5px;
    }
    .contenido {
        padding-bottom: 0px;
    }
    .pie {
        text-align: center !important;
        margin-top: -30px;
        .boton {
            --border-radius: 50px;
            font-weight: bold;
            text-transform: capitalize;
            --background: #872a99;
        }
    }
}

.tarjeta-receta {
    border-radius: 50px;
    margin-bottom: 0px;
    .contenido {
        padding: 0px;
        .icono {
            --background: #872a99;
        }
        .imagen {
            border-radius: 50px !important;
            overflow: hidden;
        }
    }
    .informacion {
        padding-top: 34px;
        padding-left: 34px;
        padding-bottom: 34px;
    }
}

.cuerpo-mis-datos {
    --background: #ffffff;
    --color: #000000;
    --border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    .grid {
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        .avatar {
            width: 100px;
            height: 100px
        }
        .tabla {
            border-radius: 20px;
            background-color: #f7f7f7;
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 10px;
            .informacion {
                --background: transparent;
                --padding-bottom: 0px;
                --padding-end: 4px;
                --padding-top: 0px;
                padding-left: 0px;
                padding-top: 0px;
                font-weight: bold;
                font-size: 24px;
            }
        }
    }
    .tabla-detalle {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        margin-bottom: 0px;
        padding-bottom: 60px;
        margin-left: 0px;
        margin-right: 0px;
        background-color: #f7f7f7;
        text-align: center;
        .opcion {
            width: 90%;
            background-color: #ffffff;
            //box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
            //box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
            //box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            font-size: 16px;
            font-weight: bold;
            padding: 25px;
            //margin-right: 50px;
            //display: flex;
            justify-content: space-between;
            border-style: none;
            .icono {
                --background: #872a99;
                width: 40px;
                height: 40px;
            }
        }
    }
}

.cuerpo-mis-datos-detalle {
    --background: #ffffff;
    --color: #000000;
    --border-radius: 50px;
    border-radius: 50px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 0px;
}

.cuerpo-mis-datos-col-interno {
    border-left: 1px solid #9e9e9e;
}

.sub-tarjeta-1 {
    background-color: #f6f6f6;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 10px;
    padding-bottom: 70px;
    margin-bottom: 0px;
    width: 109%;
    left: -7%;
}

.cuerpo-producto {
    --background: #ffffff;
    --color: #000000;
    --border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    .sub-tarjeta {
        background-color: #f6f6f6;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding-top: 0px;
        padding-bottom: 20px;
        margin-bottom: 0px;
    }
    .contenido {
        padding-bottom: 0px;
    }
    .pie {
        text-align: center !important;
        margin-top: -30px;
        .boton {
            --border-radius: 50px;
            font-weight: bold;
            text-transform: capitalize;
            --background: #872a99;
        }
    }
}

.alerta {
    //--backdrop-opacity: 0.6;
    //--background: linear-gradient(90deg, rgb(30, 0, 201) 1%, rgb(248, 255, 248) 100%);
    .alert-wrapper.sc-ion-alert-ios,
    .alert-wrapper.sc-ion-alert-md {
        border-radius: 25px;
        -webkit-box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
        box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
        padding: 10px;
        padding-top: 30px;
        min-width: 350px;
        .alert-head {
            &::before {
                content: '';
                background: url(../assets/img/advertencia.png) no-repeat;
                background-size: contain;
                height: 30px;
                width: 30px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 10px;
                z-index: 20004;
            }
        }
    }
    .alert-title.sc-ion-alert-md,
    .alert-title.sc-ion-alert-ios {
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: center;
        text-transform: capitalize;
        font-weight: bold;
    }
    .alert-message.sc-ion-alert-md,
    .alert-message.sc-ion-alert-ios {
        font-size: 12px;
        color: rgb(0, 0, 0);
        text-align: center;
        text-transform: capitalize;
    }
    .alert-button.sc-ion-alert-md,
    .alert-button.sc-ion-alert-ios {
        color: #ffffff;
        background-color: #9933CC;
        width: 100px;
        border-radius: 25px;
        border: 0.5px;
        border-color: #000000;
        text-transform: capitalize;
        font-weight: bold;
    }
    .alerta-boton-aceptar.sc-ion-alert-md,
    .alerta-boton-aceptar.sc-ion-alert-ios {
        background-color: #fe8e0d;
    }
    .alert-button-inner.sc-ion-alert-md,
    .alert-button-innersc-ion-alert-ios {
        justify-content: center;
    }
    .alert-button-group.sc-ion-alert-md,
    .alert-button-group.sc-ion-alert-ios {
        padding-inline-start: 8px;
        padding-inline-end: 8px;
        display: flex;
        justify-content: space-around !important;
        //justify-content: space-between;
    }
}

.cargando {
    .loading-wrapper.sc-ion-loading-md {
        --spinner-color: #9933CC;
        border-radius: 25px;
    }
}

.ion-toast {
    --border-radius: 50px;
    text-align: center;
    --background: #f4f5f8;
    --color: #000000;
    font-weight: bold;
    text-transform: capitalize;
}

.ion-padding-img {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: -130px;
    margin-top: -60px;
}