@import "./icono.css";
@font-face {
    font-family: 'Poppins'; //This is what we are going to call
    src: url('/assets/font/Poppins/POPPINS-REGULAR.TTF');
}

@font-face {
    font-family: 'Roboto'; //This is what we are going to call  
    src: url('/assets/font/Roboto/ROBOTO-REGULAR.TTF');
}

.icono {
    --background: #872a99;
}

.icono-pro {
    --background: #ffffff;
}

.titulo2 {
    font-family: 'Poppins' !important;
    font-size: 24px;
    font-style: bold;
    line-height: 24px;
    text-align: left !important;
    font-weight: bold;
    color: black;
}

.titulo {
    font-family: 'Poppins' !important;
    font-size: 24px;
    font-style: bold;
    line-height: 24px;
}

.sub-titulo-1 {
    font-family: 'Poppins' !important;
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
    padding-bottom: 10px;
}

.sub-titulo-2 {
    font-family: 'Poppins' !important;
    font-size: 16px;
    font-style: normal;
    line-height: 16px;
}

.sub-titulo-2-1 {
    font-family: 'Poppins' !important;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    text-align: left !important;
}

.body {
    font-family: 'Roboto' !important;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
}

.body-2 {
    font-family: 'Roboto' !important;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
}

.texto-boton-1 {
    font-family: 'Roboto' !important;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
}

.texto-boton-2 {
    font-family: 'Roboto' !important;
    font-size: 12px;
    font-style: normal;
    line-height: 24px;
}

.enlace {
    font-family: 'Roboto' !important;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
}

.fondo-inactivo {
    background-image: url('/assets/img/fondo_inactivo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
}

.fondo-aliados {
    background-image: url('/assets/img/fondo_aliados.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-blog {
    background-image: url('/assets/img/fondo_blog.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mi-diario-nutricional {
    background-image: url('/assets/img/fondo_mi_diario_nutricional.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mi-dieta {
    background-image: url('/assets/img/fondo_mi_dieta.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mi-guia-nutricional {
    background-image: url('/assets/img/fondo_mi_guia_nutricional.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mi-lista-de-compras {
    background-image: url('/assets/img/fondo_mi_lista_de_compras.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mis-bioproductos {
    background-image: url('/assets/img/fondo_mis_bioproductos.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mis-controles {
    background-image: url('/assets/img/fondo_mis_controles.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mis-datos {
    background-image: url('/assets/img/fondo_mis_datos.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
    min-height: 780px;
}

.fondo-mis-estadisticas {
    background-image: url('/assets/img/fondo_mis_estadisticas.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-productos-detalle {
    background-image: url('/assets/img/bellasen.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mis-eventos {
    background-image: url('/assets/img/fondo_mis_eventos.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mis-favoritos {
    background-image: url('/assets/img/fondo_mis_favoritos.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mis-logros {
    background-image: url('/assets/img/fondo_mis_logros.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mis-promociones {
    background-image: url('/assets/img/fondo_mis_promociones.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-recetas {
    background-image: url('/assets/img/fondo_recetas.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-semaforo {
    background-image: url('/assets/img/fondo_semaforo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-dieta {
    background-image: url('/assets/img/fondo_mi_dieta.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.fondo-mis-estadisticas {
    background-image: url('/assets/img/fondo_mis_estadisticas.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
}

.tarjeta-formulario {
    --background: #ffffff;
    --color: #000000;
    --border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 0px;
}

.tarjeta-formulario-logo {
    --background: #ffffff;
    --border-color: #000000;
    --border-radius: 50px;
    //--border-style: solid;
    //--border-width: 0.5px;
    padding-left: 0%;
    margin-top: 55px;
    //--box-shadow: none;
    width: 50px;
    height: 50px;
}

.titulo-cuerpo {
    --background: transparent;
    --padding-top: 20px;
    --padding-bottom: 20px;
    .texto {
        font-family: 'Poppins' !important;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
        color: #ffffff;
        padding-left: 20px;
    }
}

.cuerpo-receta {
    --background: #ffffff;
    --color: #000000;
    --border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 60px;
    margin-bottom: 0px;
    .filtro {
        padding-left: 30px;
        padding-right: 30px;
        --background: #f6f6f6;
        //--border-color: #000000;
        --border-radius: 50px;
        --border-width: 0.5px;
    }
    .contenido {
        padding-bottom: 0px;
    }
    .pie {
        text-align: center !important;
        margin-top: -30px;
        .boton {
            --border-radius: 50px;
            font-weight: bold;
            text-transform: capitalize;
            --background: #872a99;
        }
    }
}

.tarjeta-receta {
    border-radius: 50px;
    margin-bottom: 0px;
    .contenido {
        padding: 0px;
        .icono {
            --background: #872a99;
        }
        .imagen {
            border-radius: 50px !important;
            overflow: hidden;
        }
    }
    .informacion {
        padding-top: 34px;
        padding-left: 34px;
        padding-bottom: 34px;
    }
}

.cuerpo-mis-datos {
    --background: #ffffff;
    --color: #000000;
    --border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    .grid {
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        .avatar {
            width: 100px;
            height: 100px
        }
        .tabla {
            border-radius: 20px;
            background-color: #f7f7f7;
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 10px;
            .informacion {
                --background: transparent;
                --padding-bottom: 0px;
                --padding-end: 4px;
                --padding-top: 0px;
                padding-left: 0px;
                padding-top: 0px;
                font-weight: bold;
                font-size: 24px;
            }
        }
    }
    .tabla-detalle {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        margin-bottom: 0px;
        padding-bottom: 60px;
        margin-left: 0px;
        margin-right: 0px;
        background-color: #f7f7f7;
        text-align: center;
        .opcion {
            width: 90%;
            background-color: #ffffff;
            //box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
            //box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
            //box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            font-size: 16px;
            font-weight: bold;
            padding: 25px;
            //margin-right: 50px;
            //display: flex;
            justify-content: space-between;
            border-style: none;
            .icono {
                --background: #872a99;
                width: 40px;
                height: 40px;
            }
        }
    }
}

.cuerpo-mis-datos-detalle {
    --background: #ffffff;
    --color: #000000;
    --border-radius: 50px;
    border-radius: 50px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 0px;
}

.cuerpo-mis-datos-col-interno {
    border-left: 1px solid #9e9e9e;
}

.sub-tarjeta-1 {
    background-color: #f6f6f6;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 10px;
    padding-bottom: 70px;
    margin-bottom: 0px;
    width: 109%;
    left: -7%;
}

.cuerpo-producto {
    --background: #ffffff;
    --color: #000000;
    --border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    .sub-tarjeta {
        background-color: #f6f6f6;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding-top: 0px;
        padding-bottom: 20px;
        margin-bottom: 0px;
    }
    .contenido {
        padding-bottom: 0px;
    }
    .pie {
        text-align: center !important;
        margin-top: -30px;
        .boton {
            --border-radius: 50px;
            font-weight: bold;
            text-transform: capitalize;
            --background: #872a99;
        }
    }
}

.alerta {
    //--backdrop-opacity: 0.6;
    //--background: linear-gradient(90deg, rgb(30, 0, 201) 1%, rgb(248, 255, 248) 100%);
    .alert-wrapper.sc-ion-alert-ios,
    .alert-wrapper.sc-ion-alert-md {
        border-radius: 25px;
        -webkit-box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
        box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
        padding: 10px;
        padding-top: 30px;
        min-width: 350px;
        .alert-head {
            &::before {
                content: '';
                background: url(../assets/img/advertencia.png) no-repeat;
                background-size: contain;
                height: 50px;
                width: 50px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 10px;
                z-index: 20004;
            }
            padding-bottom: 30px;
        }
    }
    .alert-title.sc-ion-alert-md,
    .alert-title.sc-ion-alert-ios {
        color: rgb(0, 0, 0);
        font-size: 14px;
        text-align: center;
        text-transform: capitalize;
        font-weight: bold;
    }
    .alert-message.sc-ion-alert-md,
    .alert-message.sc-ion-alert-ios {
        font-size: 14px;
        color: rgb(0, 0, 0);
        text-align: center;
        text-transform: capitalize;
        font-weight: bold;
    }
    .alert-button.sc-ion-alert-md,
    .alert-button.sc-ion-alert-ios {
        color: #ffffff;
        background-color: #9933CC;
        width: 100px;
        border-radius: 25px;
        border: 0.5px;
        border-color: #000000;
        text-transform: capitalize;
        font-weight: bold;
    }
    .alerta-boton-aceptar.sc-ion-alert-md,
    .alerta-boton-aceptar.sc-ion-alert-ios {
        background-color: #fe8e0d;
    }
    .alert-button-inner.sc-ion-alert-md,
    .alert-button-innersc-ion-alert-ios {
        justify-content: center;
    }
    .alert-button-group.sc-ion-alert-md,
    .alert-button-group.sc-ion-alert-ios {
        padding-inline-start: 8px;
        padding-inline-end: 8px;
        display: flex;
        justify-content: space-around !important;
        //justify-content: space-between;
    }
}

.cargando {
    .loading-wrapper.sc-ion-loading-md {
        --spinner-color: #9933CC;
        border-radius: 25px;
    }
}

.ion-toast {
    --border-radius: 50px;
    text-align: center;
    --background: #f4f5f8;
    --color: #000000;
    font-weight: bold;
    text-transform: capitalize;
}

.ion-padding-img {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: -130px;
    margin-top: -60px;
}

.login-modal .modal-wrapper {
    height: 50%;
    top: 50%;
    position: absolute;
    display: block;
    border-radius: 25px 25px 0 0;
}