.footer-receta {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    --color: #000000;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}

.boton-receta {
    --background: #872a99;
}

.seleccion {
    background: #FFFFFF;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 4px;
    border-color: #fe8e0d !important;
    --height: 25px;
    --width: 25px;
    --checkmark-color: #FFFFFF;
    --border-color: #FFFFFF;
    --background-checked: #fe8e0d;
    --border-color: #fe8e0d;
    --border-color-checked: #fe8e0d;
}

.items {
    padding: 0px;
    margin-bottom: 0px;
}

.boton-receta-volver {
    --background: #872a99;
    --border-radius: 50px;
    font-weight: bold;
    text-transform: capitalize;
}

.color-base {
    --background: #f6f6f6 !important;
}