<ion-content>
  <ion-list lines="none" class="fondo">

      <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button class="botones-flotantes" size="small">
              <ion-icon name="close-outline"></ion-icon>
          </ion-fab-button>
      </ion-fab>

      <form [formGroup]=datos>
          <ion-grid class="grupo">
              <ion-row>
                  <ion-col size="12">
                      <ion-item class="titulo-evento">
                          <a class="icono">
                              <i class="icon-enfermedades"></i>
                          </a>
                          <ion-label class="texto">¿Que otras señales presentas<br><br>en tu organismo?</ion-label>
                      </ion-item>
                      <ion-item class="titulo-evento">
                          <label class="texto-2">A continuación puedes ver las opciones que has seleccionado</label>
                      </ion-item>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="12">
                      <ion-radio-group name="auto" value="opcion" formControlName="opcion">

                          <ion-slides #miOpcion [options]="slideOpts">
                              <ion-slide class="slide" *ngFor="let item of evento; let i=index">

                                  <ion-item class="card">
                                      <ion-row class="tarjeta">
                                          <ion-checkbox class="ion-checkbox posicion" value="{{ item.id }}"></ion-checkbox>
                                          <span class="{{ item.icon }} icono"></span>
                                          <ion-label class="check-box">{{ item.descripcion }}</ion-label>
                                      </ion-row>
                                  </ion-item>

                              </ion-slide>
                          </ion-slides>
                          <ion-fab vertical="end" horizontal="start" slot="fixed" (click)="slides.slidePrev()">
                              <ion-fab-button class="botones-flotantes" size="small">
                                  <ion-icon class="icon-atras"></ion-icon>
                              </ion-fab-button>
                          </ion-fab>
                          <ion-fab vertical="end" horizontal="end" slot="fixed" (click)="slides.slideNext()">
                              <ion-fab-button class="botones-flotantes" size="small">
                                  <ion-icon class="icon-adelante"></ion-icon>
                              </ion-fab-button>
                          </ion-fab>
    
                          <ion-tab-bar slot="bottom" class="barra">
                            <ion-button expand="block" class="guardar">
                                <ion-label class="texto">Ver producto</ion-label>
                            </ion-button>
                          </ion-tab-bar>

                      </ion-radio-group>
                  </ion-col>
                  
                  <ion-col size="12">
                      <ion-radio-group name="auto" value="opcion" formControlName="opcion">

                          <ion-slides #miOpcion [options]="slideOpts">
                              <ion-slide class="slide" *ngFor="let item of evento; let i=index">

                                  <ion-item class="card">
                                      <ion-row class="tarjeta">
                                          <ion-checkbox class="ion-checkbox posicion" value="{{ item.id }}"></ion-checkbox>
                                          <span class="{{ item.icon }} icono"></span>
                                          <ion-label class="check-box">{{ item.descripcion_vita }}</ion-label>
                                      </ion-row>
                                  </ion-item>

                              </ion-slide>
                          </ion-slides>
                      </ion-radio-group>
                  </ion-col>
              </ion-row>
                           
          </ion-grid>

      </form>
  </ion-list>

</ion-content>

<ion-tab-bar slot="bottom" class="barra">
  <ion-button expand="block" class="guardar" (click)="guardar()">
      <ion-label class="texto">Guardar</ion-label>
  </ion-button>
</ion-tab-bar>

