

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Datos del usuario</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="datos" (ngSubmit)="login()">
      <ion-list>
        <ion-item>
          <ion-label fixed>Correo Electrónico:</ion-label>
          <ion-input type="email" formControlName="email" placeholder="Correo Electronico"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Contraseña:</ion-label>
          <ion-input type="password" formControlName="password" placeholder="Contraseña"></ion-input>
        </ion-item>
      </ion-list>
      <div class="ion-padding">
        <ion-button expand="block" shape="round" (click)="login()">
          Ingresar
        </ion-button>
      </div>
      <ion-item>
        <ion-label>Olvidaste la contraseña</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Registrate</ion-label>
      </ion-item>
    </form>
    </ion-card-content> 
  </ion-card>
</ion-content>
