<ion-tab-bar slot="bottom">

    <ion-tab-button tab="inicio">
        <ion-icon src="/assets/icon/inicio.svg"></ion-icon>
        <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="diario-nutricional">
        <ion-icon src="/assets/icon/Mi_Diario_Nutricional.svg"></ion-icon>
        <ion-label>Mi Diario Nutricional</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="guia-nutricional">
        <ion-icon src="/assets/icon/Mi_Guia_Nutricional.svg"></ion-icon>
        <ion-label>Mi Guia Nutricional</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mi-dieta">
        <ion-icon src="/assets/icon/Mi_Dieta.svg"></ion-icon>
        <ion-label>Mi Dieta</ion-label>
    </ion-tab-button>

</ion-tab-bar>