<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="diario-nutricional">
      <ion-icon name="book"></ion-icon>
      <ion-label>Mi Diario Nutricional</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="guia-nutricional">
      <ion-icon name="accessibility"></ion-icon>
      <ion-label>Mi Guia Nutricional</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mi-dieta">
      <ion-icon name="nutrition"></ion-icon>
      <ion-label>Mi Dieta</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>