<ion-content fullscreen class="ion-padding">

    <ion-card class="card-padding-border">

        <ion-card-content>
            <ion-fab vertical="top" horizontal="end" slot="fixed">
                <ion-fab-button color="dark" class="main-button" size="small">
                    <ion-icon name="heart"></ion-icon>
                </ion-fab-button>
                <ion-fab-button color="dark" class="main-button" size="small">
                    <ion-icon name="share-social"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-card-content>

        <ion-list>

            <ion-item-divider>
                {{ datos.descripcion}}
            </ion-item-divider>

            <ion-item *ngFor="let item of datos.composicion" lines="none">
                <ion-label>{{ item.descripcion}} {{ item.cantidad}} {{ item.unidadMedida}}</ion-label>
            </ion-item>

            <ion-item-divider>
                <ion-label>Ingredientes:</ion-label>
            </ion-item-divider>

            <ion-item *ngFor="let item of datos.ingrediente" lines="none">
                <ion-checkbox color="dark" slot="start" *ngIf="item.inActivo == false"></ion-checkbox>
                <ion-checkbox color="dark" slot="start" *ngIf="item.inActivo == true" checked></ion-checkbox>
                <ion-label>{{ item.descripcion}} {{ item.cantidad}} {{ item.unidadMedida}}</ion-label>
            </ion-item>

            <ion-item-divider>
                <ion-label>Preparación:</ion-label>
            </ion-item-divider>

            <ion-item *ngFor="let item of datos.preparacion; let i=index" lines="none">
                <ion-label>{{ item.orden }}. {{ item.descripcion}}</ion-label>
            </ion-item>

            <ion-item-divider></ion-item-divider>

            <ion-chip *ngFor="let item of datos.etiqueta" color="dark">
                <ion-label>{{ item }}</ion-label>
            </ion-chip>

        </ion-list>

    </ion-card>



    <ion-fab horizontal="end" vertical="top" slot="fixed">
        <ion-fab-button (click)="cerrar()" color="dark" size="small">
            <ion-icon name="close"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>

<ion-tab-bar slot="bottom">

    <ion-button expand="block" (click)="cerrar()" color="dark">Volver</ion-button>

</ion-tab-bar>