.titulo {
    font-family: 'Poppins' !important;
    font-size: 18px;
    font-style: bold;
    line-height: 18px;
}

.sub-titulo-2 {
    font-family: 'Poppins' !important;
    font-size: 14px;
    font-style: normal;
    line-height: 14px;
}