<app-header></app-header>
<app-menu-inicio></app-menu-inicio>

<ion-content>

    <ion-list lines="none" class="fondo-mi-diario-nutricional">

        <ion-item class="titulo-cuerpo">
            <ion-label class="texto">Mi Diario Nutricional</ion-label>
        </ion-item>

        <ion-card class="cuerpo-receta">

            <ion-card-content>

                <ion-grid class="ion-no-padding">
                    <ion-row>
                        <ion-col size="6" class="texto-fechaini ion-text-center">
                            <ion-label>Fecha inicio:</ion-label>
                        </ion-col>
                        <ion-col size="6" class="texto-fechafin ion-text-center">
                            <ion-label>Fecha final:</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="6" class="centrar-ini">
                            <ion-datetime display-format="DD/MM/YY" placeholder="00/00/00" cancelText="Cancelar" doneText="Hecho"></ion-datetime>
                        </ion-col>
                        <ion-col size="6" class="centrar-fin">
                            <ion-datetime display-format="DD/MM/YY" placeholder="00/00/00" cancelText="Cancelar" doneText="Hecho"></ion-datetime>
                        </ion-col>
                        <ion-label class="align-center">90 días de entrenamiento</ion-label>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-label class="align-center">Presiona sobre el calendario el día y a<br>continuación empieza a escribir tu diario.</ion-label>
                        </ion-col>
                    </ion-row>

                    <ion-fab vertical="start" horizontal="start" class="posicion-icono-atras">
                        <ion-fab-button class="ion-fab-atras" size="small">
                            <ion-icon class="icon-atras"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>

                    <ion-fab vertical="start" horizontal="end" class="posicion-icono-adelante">
                        <ion-fab-button class="ion-fab-adelante" size="small">
                            <ion-icon class="icon-adelante"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>

                    <ion-row>
                        <ion-col size="12">
                            <ion-item class="align-center">
                                <ion-calendar [format]="'YYYY-MM-DD'" [options]="optionsRange" (change)="onChange($event)">
                                </ion-calendar>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                </ion-grid>

                <ion-item class="posicion">
                    <ion-icon class="borde-verde" slot="start" name="ellipse-outline"></ion-icon>
                    <ion-label class="texto-icon">Información completa</ion-label>
                </ion-item>

                <ion-item class="posicion-amarillo">
                    <ion-icon class="borde-amarillo" slot="start" name="ellipse-outline"></ion-icon>
                    <ion-label class="texto-icon">Falta información</ion-label>
                </ion-item>

                <ion-item class="posicion-rojo">
                    <ion-icon class="borde-rojo" slot="start" name="ellipse-outline"></ion-icon>
                    <ion-label class="texto-icon">No has llenado la información</ion-label>
                </ion-item>

            </ion-card-content>
        </ion-card>
    </ion-list>

</ion-content>

<app-tab class="menu"></app-tab>