.card-padding-border {
    /*padding-top: 5%;
    padding-bottom: 10%;*/
    border-radius: 30px;
}

[size="small"] {
    height: 20px;
    font-size: 12px;
}

[size="large"] {
    height: 50px;
    padding: 25px;
    border-radius: 25px;
}

ion-chip.wide {
    width: 100%;
}

ion-list {
    background-image: url('/assets/img/logo-header.png');
    background-repeat: no-repeat;
    --offset-bottom: 0px;
    --offset-top: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
}

ion-item {
    --background: transparent;
    --padding-bottom: 0px;
    --padding-end: 4px;
    --padding-top: 0px;
    font-weight: bold;
}

ion-card {
    --background: #ffffff;
    --color: #000000;
    border-radius: 50px;
    padding: 0px;
}