<app-header></app-header>

<ion-content>
    <app-menu></app-menu>

    <ion-card>
        <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col>
                <ion-card>
                    <ion-card-header>
                        <div style="display: flex; justify-content: space-between;">
                            <ion-label>Género</ion-label>
                            <ion-icon name="star" slot="end"></ion-icon>
                        </div>
                        <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
              </ion-col>
              <ion-col>

                <ion-card>
                    <ion-card-header>
                        <div style="display: flex; justify-content: space-between;">
                            <ion-label>Fecha de Nacimiento</ion-label>
                            <ion-icon name="star" slot="end"></ion-icon>
                        </div>
                        <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>

                <ion-card>
                    <ion-card-header>
                        <div style="display: flex; justify-content: space-between;">
                            <ion-label>Estatura</ion-label>
                            <ion-icon name="star" slot="end"></ion-icon>
                        </div>
                        <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
              </ion-col>
              <ion-col>

                <ion-card>
                    <ion-card-header>
                        <div style="display: flex; justify-content: space-between;">
                            <ion-label>Mi Objetivo</ion-label>
                            <ion-icon name="star" slot="end"></ion-icon>
                        </div>
                        <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>

                  <ion-card>
                    <ion-card-header>
                        <div style="display: flex; justify-content: space-between;">
                            <ion-label>Peso Actual</ion-label>
                            <ion-icon name="star" slot="end"></ion-icon>
                        </div>
                        <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>

                </ion-col>
                <ion-col>

                  <ion-card>
                    <ion-card-header>
                        <div style="display: flex; justify-content: space-between;">
                            <ion-label>Peso Deseado</ion-label>
                            <ion-icon name="star" slot="end"></ion-icon>
                        </div>
                        <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>

                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>

                    <ion-card>
                        <ion-card-header>
                            <div style="display: flex; justify-content: space-between;">
                                <ion-label>IMC</ion-label>
                                <ion-icon name="star" slot="end"></ion-icon>
                            </div>
                            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
                <ion-col>
                  <ion-card>
                    <ion-card-header>
                        <div style="display: flex; justify-content: space-between;">
                            <ion-label>TDEE</ion-label>
                            <ion-icon name="star" slot="end"></ion-icon>
                        </div>
                        <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <div>Proteinas/ Grasas/Carb</div>
                </ion-col>
                <ion-col>
                  <div>Mi Plan</div>
                </ion-col>
              </ion-row>

          </ion-grid>


    </ion-card>

    

</ion-content>

<app-tab></app-tab>  