

<ion-content>

  <p class="ion-text-center">Elige tu objetivo para tener un<br>plan diseñado únicamente para tí</p>

  <ion-card mode="ios">
    <img>
    <ion-card-header>
      <ion-card-title>Regular mi peso</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Si quieres lograr con éxito el objetivo de<br>bajar o subir de peso para mejor tu<br>tu estado de salud o
      apariencia física.
    </ion-card-content>
    <ion-button>Este es mi objetivo</ion-button>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Mejorar mi salud</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Si tu propósito es mejorar los síntomas de<br>tus enfermedades y poder sentirte bien cada<br>día.
    </ion-card-content>
    <ion-button>Este es mi objetivo</ion-button>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Mantener mi estilo de vida saludable</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Si ya has hecho cambios en tu dieta y<br>deseas mantenerte motivado para seguirla
    </ion-card-content>
    <ion-button>Este es mi objetivo</ion-button>
  </ion-card>

</ion-content>
