<ion-content class="fondo">

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button class="botones-flotantes" size="small">
            <ion-icon name="close-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <form [formGroup]=datos>
        <ion-grid class="grupo">
            <ion-row>
                <ion-col size="12">
                    <ion-item class="titulo-evento">
                        <a class="icono">
                            <i class="icon-alergias-14"></i>
                        </a>
                        <ion-label class="texto">¿Tienes alergias?</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" style="padding-left: 20px;padding-right: 20px;">
                    <ion-label class="texto">A continuación puedes ver las opciones que has seleccionado.</ion-label>
                </ion-col>
            </ion-row>
            <form [formGroup]=arreglo>
                <ion-row *ngFor="let control of arreglo.controls | keyvalue">
                    <ion-col size="9" style="padding-left: 20px;">
                        <ion-input type="text" class="campo" formControlName="{{control.key}}" placeholder="Seleccione...">
                            <ion-icon class="icon-neutro" item-right></ion-icon>
                        </ion-input>
                    </ion-col>
                    <ion-col size="3" style="padding-right: 20px;">
                        <ion-button class="guardar" (click)="remover(control)">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </form>
            <ion-row>
                <ion-col size="12">
                    <ion-radio-group name="auto" value="opcion" formControlName="opcion">

                        <ion-slides #miOpcion [options]="slideOpts">
                            <ion-slide class="slide" *ngFor="let item of evento; let i=index">

                                <ion-item class="card">
                                    <ion-row class="tarjeta">
                                        <ion-radio class="radio posicion ion-radio" value="{{ item.id }}"></ion-radio>
                                        <span class="{{ item.icon }} icono"></span>
                                        <ion-label class="texto">{{ item.descripcion }}</ion-label>
                                    </ion-row>
                                </ion-item>
                            </ion-slide>
                        </ion-slides>

                        <ion-fab vertical="center" horizontal="start" slot="fixed" (click)="slides.slidePrev()">
                            <ion-fab-button class="botones-flotantes" size="small">
                                <ion-icon class="icon-atras"></ion-icon>
                            </ion-fab-button>
                        </ion-fab>
                        <ion-fab vertical="center" horizontal="end" slot="fixed" (click)="slides.slideNext()">
                            <ion-fab-button class="botones-flotantes" size="small">
                                <ion-icon class="icon-adelante"></ion-icon>
                            </ion-fab-button>
                        </ion-fab>

                    </ion-radio-group>
                </ion-col>
            </ion-row>
            
            <ion-row>
                <ion-col size="4"></ion-col>
                <ion-col size="4">
                    <ion-button expand="block" class="guardar" (click)="agregar()">
                        <ion-label class="texto">Agregar</ion-label>
                    </ion-button>
                </ion-col>
                <ion-col size="4"></ion-col>
            </ion-row>
        </ion-grid>
    </form>

</ion-content>
<ion-tab-bar slot="bottom" class="barra">
    <ion-button expand="block" class="guardar" (click)="guardar()">
        <ion-label class="texto">Guardar</ion-label>
    </ion-button>
</ion-tab-bar>
