.fondo {
    --background: #f6f6f6;
    --padding-bottom: 50px;
}

.botones-flotantes {
    --background: #872a99;
}

.titulo-evento {
    --background: transparent;
    .icono {
        font-size: 24px;
        position: relative;
        display: inline;
        padding: 5px;
        margin: 5px;
        width: 40px;
        height: 40px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 0.5px solid rgb(0, 0, 0);
        color: #000;
        background: transparent;
        text-align: center;
    }
    .texto {
        position: relative;
        font-family: 'Poppins' !important;
        font-size: 18px;
        line-height: 18px;
        font-weight: bold;
        padding: 10px;
        white-space: normal !important;
        padding-right: 20px;
    }
}

.grupo {
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

.slide {
    height: 350px;
}

.card {
    --background: #fcf3eb !important;
    border-radius: 25px;
    padding: 0px;
    margin: 0px;
    width: 150px;
    height: 150px;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}

.tarjeta {
    background: transparent;
    border-radius: 25px;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 0px;
    /*.radio {
        --color-checked: #fe8d0c;
    }*/
    .radio-checked {
        --color-checked: #fe8d0c;
    }
    .texto {
        position: absolute;
        font-family: 'Poppins' !important;
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        width: 130px;
        white-space: normal !important;
        text-align: left;
        padding-top: 80px;
    }
    .icono {
        position: absolute;
        padding-top: 20px;
        padding-left: 25px;
        font-size: 50px;
    }
}

.input {
    background: #f9e6fd;
    border: #87299b !important;
    border-width: 0.1px !important;
    border-style: solid !important;
    border-radius: 25px;
    font-size: 14px;
}

.progreso {
    --background: #d3d3d3;
    --buffer-background: #f9e6fd;
    --progress-background: #fe8d0c;
    height: 30px;
    border-radius: 9px;
}

.progress-outer {
    width: 96%;
    margin: 10px 2%;
    padding: 0px;
    text-align: center;
    background-color: #f9e6fd;
    color: #fff;
    border-radius: 9px;
}

.fatiga-inner {
    min-width: 0%;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    border-radius: 9px;
    background-color: #fe8d0c;
}

.texto-nivel {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Poppins' !important;
    font-weight: bold;
}

.barra {
    background-color: #f6f6f6;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    z-index: 1;
    margin-top: -50px;
}

.guardar {
    --background: #872a99;
    align-items: center;
    justify-content: center;
    margin: 0px;
    --z-index: 1;
    --border-radius: 25px;
    text-transform: capitalize;
    .texto {
        padding-left: 25px;
        padding-right: 25px;
        font-family: 'Poppins' !important;
        font-size: 12px;
    }
}