
<ion-content>

  <ion-card mode="ios">
    <img>
    <ion-card-header>
      <ion-card-title>Plan Gratuito</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <b color="black">Beneficios:<br></b>
      <ion-icon  name = "checkmark-outline"></ion-icon> Diario Nutricional<br><ion-icon  name = "checkmark-outline">       
      </ion-icon> Recetas Mensuales Limitadas<br><ion-icon  name = "checkmark-outline">
      </ion-icon> Acceso al contenido actual de Inbionova
    </ion-card-content>
    <ion-button>Quiero este plan</ion-button>
  </ion-card>

  <ion-card mode="ios">
    <ion-label class="ion-padding"><b>$100.000 x 3 meses</b><br>$380.000 anual</ion-label>
    <ion-card-header>
      <ion-card-title>Plan Básico</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <b color="black">Beneficios:<br></b>
      <ion-icon  name = "checkmark-outline"></ion-icon> Diario Nutricional<br><ion-icon  name = "checkmark-outline"></ion-icon>      Recetas Mensuales Limitadas<br><ion-icon  name = "checkmark-outline"></ion-icon> Guía nutricional personalizada<br>
      <ion-icon  name = "checkmark-outline"></ion-icon> Sugerencias de bioproductos<br><ion-icon  name = "checkmark-outline"></ion-icon> Control mensual con el coach<br>
      <ion-icon  name = "checkmark-outline"></ion-icon> Descuentos en eventos<br><ion-icon  name = "checkmark-outline"> </ion-icon> Acceso al contenido actual Inbionova
    </ion-card-content>
    <ion-button>Quiero este plan</ion-button>
  </ion-card>

  <ion-card mode="ios">
    <ion-label class="ion-padding"><b>$50.000 x 3 meses</b><br>$180.000 anual</ion-label>
    <ion-card-header>
      <ion-card-title>Plan Saludable:</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <b color="black">Beneficios:<br></b>
      <ion-icon  name = "checkmark-outline"></ion-icon> Diario Nutricional<br><ion-icon  name = "checkmark-outline"></ion-icon> Recetas Mensuales Limitadas<br><ion-icon  name = "checkmark-outline"></ion-icon> Guía nutricional personalizada<br>
      <ion-icon  name = "checkmark-outline"></ion-icon> Sugerencias de Bioproductos<br><ion-icon  name = "checkmark-outline"></ion-icon> Descuentos en productos Inbionova<br><ion-icon  name = "checkmark-outline"></ion-icon> Control mensual con el coach<br>
      <ion-icon  name = "checkmark-outline"></ion-icon> Descuentos en eventos<br><ion-icon  name = "checkmark-outline"></ion-icon> Acceso al contenido actual Inbionova 
    </ion-card-content>
    <ion-button>Quiero este plan</ion-button>
  </ion-card>

  <ion-card mode="ios">
    <ion-label class="ion-padding"><b>$150.000 x 3 meses</b><br>$570.000 anual</ion-label>
    <ion-card-header>
      <ion-card-title>Plan Empoderado:</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <b color="black">Beneficios:<br></b>
      <ion-icon  name = "checkmark-outline"></ion-icon> Diario Nutricional<br><ion-icon  name = "checkmark-outline"></ion-icon> Recetas Mensuales Limitadas<br><ion-icon  name = "checkmark-outline"></ion-icon> Guía nutricional personalizada<br>
      <ion-icon  name = "checkmark-outline"></ion-icon> Sugerencias de Bioproductos<br><ion-icon  name = "checkmark-outline"></ion-icon> Descuentos en productos Inbionova<br><ion-icon  name = "checkmark-outline"></ion-icon> Control mensual con el coach<br>
      <ion-icon  name = "checkmark-outline"></ion-icon> Acceso gratuito a eventos<br><ion-icon  name = "checkmark-outline"></ion-icon> Acceso al contenido actual Inbionova 
  </ion-card-content>
    <ion-button><ion-icon></ion-icon>Quiero este plan</ion-button>
  </ion-card>

  


</ion-content>
