
<ion-content>
 

  <ion-list lines="none">

    <div *ngFor="let plans of plan">

      <ion-card>
        
        <ion-card-content>

          

          <ion-img [src]="plans.img"></ion-img>

        </ion-card-content>

        <ion-card-header>
          <ion-card-title>{{ plans.titulo }}</ion-card-title>
          <ion-card-subtitle>{{ plans.subtitulo }}</ion-card-subtitle>
          <ion-card-subtitle>{{ plans.descripcion }}</ion-card-subtitle>
          <ion-icon  name = "checkmark-outline"></ion-icon> Diario Nutricional<br>
          <ion-icon  name = "checkmark-outline"></ion-icon> Recetas mensuales limitadas<br>
          <ion-icon  name = "checkmark-outline"></ion-icon> Acceso al contenido actual de Inbionova<br>
        </ion-card-header>

      </ion-card>

      <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
                <ion-button (click)="seleccionar(objetivo)" color="dark" edge>QUIERO ESTE PLAN</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    </div>
    
  </ion-list>

</ion-content>