<app-header></app-header>


<ion-content>


    <ion-list lines="none" class="card-plan-basico">

        <div *ngFor="let plans of plan">

            <ion-card>

                <div class="contenedor">
                    <img [src]="plans.imagen_url" />
                    <div class="texto-encima" *ngIf="plans.precio > 1">{{ plans.precio | currency:"USD" }} x {{ plans.texto_tiempo }}</div>
                    <div class="texto-precio">{{ plans.texto_anual }}</div>
                </div>

                <ion-card-header>
                    <ion-card-title class="titulo">{{ plans.titulo }}</ion-card-title>
                    <ion-card-subtitle class="sub-titulo-2 titulo-plan-basico">Beneficios:</ion-card-subtitle>

                    <ion-icon name="checkmark-outline" class="descripcion-basico sub-titulo"></ion-icon>
                    <label class="sub-titulo">Diario Nutricional<br></label>
                    <ion-icon class="titulo-plan-basico sub-titulo" name="checkmark-outline"></ion-icon>
                    <label class="sub-titulo">Recetas mensuales limitadas<br></label>
                    <ion-icon class="titulo-plan-basico sub-titulo" name="checkmark-outline"></ion-icon>
                    <label class="sub-titulo">Guía nutricional personalizada<br></label>
                    <ion-icon class="titulo-plan-basico sub-titulo" name="checkmark-outline"></ion-icon>
                    <label class="sub-titulo">Sugerencias de Bioproductos<br></label>
                    <ion-icon class="titulo-plan-basico sub-titulo" name="checkmark-outline"></ion-icon>
                    <label class="sub-titulo">Control mensual con el coach<br></label>
                    <ion-icon class="titulo-plan-basico sub-titulo" name="checkmark-outline"></ion-icon>
                    <label class="sub-titulo">Descuentos en eventos<br></label>
                    <ion-icon class="titulo-plan-basico sub-titulo" name="checkmark-outline"></ion-icon>
                    <label class="sub-titulo">Acceso al contenido actual de Inbionova<br></label>
                </ion-card-header>

            </ion-card>

            <ion-grid>
                <ion-row class="ion-align-items-center">
                    <ion-col size="12" class="ion-text-center">
                        <ion-button class="button" edge (click)="confirmar(plans)">QUIERO ESTE PLAN</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>

    </ion-list>

</ion-content>

<app-tab class="card-plan-basico"></app-tab>