<ion-content class="fondo">

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button class="botones-flotantes" size="small">
            <ion-icon name="close-outline" (click)="cerrar()"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <form [formGroup]=datos>
        <ion-grid class="grupo">
            <ion-row>
                <ion-col size="12">
                    <ion-item class="titulo-evento">
                        <a class="icono">
                            <i class="icon-comida-04"></i>
                        </a>
                        <ion-label class="texto">¿Que comiste?</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item-divider class="divisor">
                        <ion-label>Mi Desayuno</ion-label>
                    </ion-item-divider>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-radio-group name="auto" value="opcion" formControlName="opcion">

                        <ion-slides #miOpcion [options]="slideOptsDos">
                            <ion-slide style="height: 190px;" *ngFor="let item of desayuno; let i=index">
                                <ion-grid>
                                    <ion-row>
                                        <ion-col>
                                            <ion-item class="card">
                                                <ion-row class="tarjeta">
                                                    <img src="/assets/img/{{ item.img }}" />
                                                    <ion-radio class="radio posicion ion-radio" [value]=item.id></ion-radio>
                                                    <ion-label class="texto">{{ item.descripcion }}</ion-label>
                                                </ion-row>
                                            </ion-item>
                                            <ion-button expand="block" class="boton-receta" (click)="verReceta(item)">
                                                <ion-label class="texto">Ver Receta</ion-label>
                                            </ion-button>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-slide>
                        </ion-slides>

                        <ion-fab vertical="center" horizontal="start" slot="fixed" (click)="slides.slidePrev()">
                            <ion-fab-button class="botones-flotantes" size="small">
                                <ion-icon class="icon-atras"></ion-icon>
                            </ion-fab-button>
                        </ion-fab>
                        <ion-fab vertical="center" horizontal="end" slot="fixed" (click)="slides.slideNext()">
                            <ion-fab-button class="botones-flotantes" size="small">
                                <ion-icon class="icon-adelante"></ion-icon>
                            </ion-fab-button>
                        </ion-fab>
                    </ion-radio-group>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-item-divider class="divisor">
                        <ion-label>Mi Almuerzo</ion-label>
                    </ion-item-divider>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-radio-group name="auto" value="opcion" formControlName="opcion">

                        <ion-slides #miOpcionDos [options]="slideOptsDos">
                            <ion-slide style="height: 190px;" *ngFor="let item of almuerzo; let i=index">
                                <ion-grid>
                                    <ion-row>
                                        <ion-col>
                                            <ion-item class="card">
                                                <ion-row class="tarjeta">
                                                    <img src="/assets/img/{{ item.img }}" />
                                                    <ion-radio class="radio posicion ion-radio" [value]=item.id></ion-radio>
                                                    <ion-label class="texto">{{ item.descripcion }}</ion-label>
                                                </ion-row>
                                            </ion-item>
                                            <ion-button expand="block" class="boton-receta" (click)="verReceta(item)">
                                                <ion-label class="texto">Ver Receta</ion-label>
                                            </ion-button>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-slide>
                        </ion-slides>
                        <ion-fab vertical="center" horizontal="start" slot="fixed" (click)="slidesDos.slidePrev()">
                            <ion-fab-button class="botones-flotantes" size="small">
                                <ion-icon class="icon-atras"></ion-icon>
                            </ion-fab-button>
                        </ion-fab>
                        <ion-fab vertical="center" horizontal="end" slot="fixed" (click)="slidesDos.slideNext()">
                            <ion-fab-button class="botones-flotantes" size="small">
                                <ion-icon class="icon-adelante"></ion-icon>
                            </ion-fab-button>
                        </ion-fab>
                    </ion-radio-group>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-item-divider class="divisor">
                        <ion-label>Mi Cena</ion-label>
                    </ion-item-divider>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-radio-group name="auto" value="opcion" formControlName="opcion">

                        <ion-slides #miOpcionTres [options]="slideOptsDos">
                            <ion-slide style="height: 240px;" *ngFor="let item of cena; let i=index">
                                <ion-grid>
                                    <ion-row>
                                        <ion-col>
                                            <ion-item class="card">
                                                <ion-row class="tarjeta">
                                                    <img src="/assets/img/{{ item.img }}" />
                                                    <ion-radio class="radio posicion ion-radio" [value]=item.id></ion-radio>
                                                    <ion-label class="texto">{{ item.descripcion }}</ion-label>
                                                </ion-row>
                                            </ion-item>
                                            <ion-button expand="block" class="boton-receta" (click)="verReceta(item)">
                                                <ion-label class="texto">Ver Receta</ion-label>
                                            </ion-button>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-slide>
                        </ion-slides>
                        <ion-fab vertical="center" horizontal="start" slot="fixed" (click)="slidesTres.slidePrev()">
                            <ion-fab-button class="botones-flotantes" size="small">
                                <ion-icon class="icon-atras"></ion-icon>
                            </ion-fab-button>
                        </ion-fab>
                        <ion-fab vertical="center" horizontal="end" slot="fixed" (click)="slidesTres.slideNext()">
                            <ion-fab-button class="botones-flotantes" size="small">
                                <ion-icon class="icon-adelante"></ion-icon>
                            </ion-fab-button>
                        </ion-fab>
                    </ion-radio-group>
                </ion-col>
            </ion-row>

        </ion-grid>

    </form>

</ion-content>

<ion-tab-bar slot="bottom" class="barra">
    <ion-button expand="block" class="guardar" (click)="guardar()">
        <ion-label class="texto">Guardar</ion-label>
    </ion-button>
</ion-tab-bar>